body{
    font-size:  30px;
}
.highlight{
    color: navy;
}
.highlight2{
    color:tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin: 5%;

}
.half-width img{
    width: 50%;
}
.link-button{
    background-color: tomato;
    padding: 10px 25px;
    border-radius: 5px;
}
.middel{
    float: left;
}
.link2{
    background-color: tomato;
    padding:10px 20px;
    border-radius: 10px;
    

}
.working-project{
    text-align: center;
}
    .text-highlight{
        
   color: tomato;
}
.pic-section img{
    width:400px ;
    
    
}
.working-area{
    width: 30%;
    height: 500px;
    float: left;
    margin-left:30px;
    padding: 5px;
    box-shadow: 20px 10px 40px gray;
    border-radius: 10px;
    
}
.work-inquray{
    width: 70%;
    margin:300px;
    
}
.work{
    
    margin-left: 22%;
    position: absolute;
    margin-top: 23%;
}
.button{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 25px 35px;
    margin-left: 71%;
    margin-top: 22%;


}

.footer{
    text-align: center;
}
.icon{
    text-align: center;
    
}


